<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.ghodel.crash">

    <application>
        <activity
            android:name="id.ghodel.crash.ui.crash.CrashActivity"
            android:label="@string/app_crash"
            android:exported="false"/>
        <activity
            android:name="id.ghodel.crash.ui.crash.CrashDialogActivity"
            android:label="@string/app_crash"
            android:exported="false"/>
    </application>

</manifest>